PROJECT_NAME=trigger-worker-server
PROJECT_VERSION=0.0.1
PORT=4008
WORKFLOWS_PATH=PROJECT_PATH/workflows
NODES_PATH=PROJECT_PATH/src/nodes
CONSOLE_LOG_ACTIVE=true
APP_NAME=blok-worker
DISABLE_TRIGGER_RUN=false # Set to true to disable trigger run and use this project as a module

# NATS JetStream Configuration
NATS_SERVERS=localhost:4222
NATS_STREAM_NAME=blok-worker
# NATS_TOKEN=your-auth-token
