PROJECT_NAME=trigger-queue-server
PROJECT_VERSION=0.0.1
PORT=4005
WORKFLOWS_PATH=PROJECT_PATH/workflows
NODES_PATH=PROJECT_PATH/src/nodes
CONSOLE_LOG_ACTIVE=true
APP_NAME=blok-queue
DISABLE_TRIGGER_RUN=false # Set to true to disable trigger run and use this project as a module
